@(coffess: List[(String,String)])
@main("Database Call") {
    <div class="content">
        <div class="row">
            <h1>Database Call</h1>

            <div class="small-6 columns">
                <p>
                    List of coffees and suppliers:
                </p>
                <table>
                    <thead>
                        <tr>
                            <td>Coffee</td>
                            <td>Supplier</td>
                        </tr>
                    </thead>
                    <tbody>
                    @for(c <- coffess){
                        <tr>
                            <td>@c._1</td>
                            <td>@c._2</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="small-6 columns">
                <div class="alert-box info">The content below will be loaded with ajax in 3 seconds</div>
                <div class="alert-box secondary" id="ajax">
                    <img src="@routes.Assets.at("images/loader.gif")"
                </div>
            </div>


        </div>
    </div>
    <script type="application/dart" src="@routes.Assets.at("application.dart")"></script>
    <script type="application/javascript" src="@routes.Assets.at("packages/browser/dart.js")"></script>
}