@(message: String)

@main("Welcome to Play") {

<div class="row">
	<h1>Welcome</h1>

    <p>
    This project is able to be continuous delivery with <a href="http://www.shippable.com">Shippable</a> and <a href="http://www.openshift.com">Openshift</a>.
    </p>
    <p>
    	The goal is push commits to server and be able to see this changes in openshift if the tests pass.
        You could adapt this application to any environment, we will use the follow:
    </p>
    <ul>
        <li>Play with Scala and SBT. We will run tests and package the application</li>
        <li>
            Dart Web Project. We will compile to javascript for production, and run tests in the browser.
            You could use this as a example to compile any resources
        </li>
        <li>
            Postgresql Database. The database configuration will be selected automatic given the environment we are.
            In the developer machine it will use a database configured by hand, the Continous integration another and in openshift as well
        </li>
    </ul>
    <h2>The big picture</h2>
    <p>What we are planning to do could be sumarize in the picture below</p>
    <img src="https://atende.atlassian.net/wiki/download/attachments/15040516/Continous%20Integration.png?api=v2" />
    <p>For more details read the tutorial:
        <a href="https://atende.atlassian.net/wiki/display/TD/Starting+Continuous+Integration+for+Free">https://atende.atlassian.net/wiki/display/TD/Starting+Continuous+Integration+for+Free</a>
    </p>
</div>
}
